<!DOCTYPE html>
{% if html_class %}
<html manifest="{{ url_for('manifest') }}" class="{{ html_class }}">
{% else %}
<html manifest="{{ url_for('manifest') }}">
{% endif %}
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/patternfly.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/patternfly-additions.css') }}">
	{% if site %}
	<title>{{  site  }} - Flask app.</title>
	{% else %}
	<title>Flask app.</title>
	{% endif %}
</head>
<body>
	{% with mensajes = get_flashed_messages() %}
	{% if mensajes %}
	{% for mensaje in mensajes %}
	    <div class="alert alert-danger">
        <span class="pficon pficon-error-circle-o"></span>
        <strong>{{ mensaje }}</strong>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
	{%  block contenido  %} {%  endblock  %}
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/patternfly.js') }}"></script>
</body>
</html>