{%  extends "base.html"  %}

{%  block contenido  %}
<div class="login-pf-page">
<div class="container-fluid">
  <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          <header class="login-pf-page-header">
            <img class="login-pf-brand" src="https://www.patternfly.org/assets/img/Logo_Horizontal_Reversed.svg" alt=" logo" />
          </header>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="card-pf">
              <header class="login-pf-header">
                <select class="selectpicker">
                  <option>English</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
                <h1>Inicio de Sesión en William Blog</h1>
                <p>Ingrese sus credenciales para acceder a <strong>William Blog</strong></p>
              </header>
                <form action="" method="post">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail1">{{ form.usuario.label }}</label>
                  {{ form.usuario(type="email", class="form-control input-lg", id="exampleInputEmail1", placeholder="Email address") }}
                  </div>
                  <div class="form-group">
                    <label class="sr-only"  for="exampleInputPassword1">{{ form.contraseña.label }}</label>
                    {{ form.contraseña(type="password", class="form-control input-lg", id="exampleInputPassword1", placeholder="Password") }}
                  </div>
                  <div class="form-group login-pf-settings">
                    <label class="checkbox-label">
                    {{ form.mantener_sesion() }} Keep me logged in for 30 days
                    </label>
                    <a href="#">Forgot password?</a>
                  </div>
                  {{ form.iniciar_sesion(class="btn btn-primary btn-block btn-lg") }}
                </form>
        </div><!-- card -->

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- col -->
</div><!-- login-pf-page -->
</div><!--row-->
</div><!--container-->
{%  endblock  %}